<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.composition.mapper.AutoInspectionMapper">

    <select id="realSetCount" resultType="org.springblade.composition.dto.AutoInspectionDTO">
        SELECT count(*) realSetTotal,round(avg(time)/1000,1) avgTime from mk_auto_inspection
        where 1=1
        <if test="taskId!=null">
            and task_id=#{taskId}
        </if>
        <if test="startTime!=null">
            and update_time &gt; #{startTime}
        </if>
        <if test="endTime!=null">
            and update_time &lt; #{endTime}
        </if>
        <if test="userId!=null">
            and create_user=#{userId}
        </if>

    </select>

    <select id="realSetCorrectOrErrorCount" resultType="org.springblade.composition.dto.AutoInspectionDTO">
        SELECT count(*) correctOrErrorCount from mk_auto_inspection
        where 1=1
        <if test="isCompositionTrue!=null">
            and is_composition_true=#{isCompositionTrue}
        </if>
        <if test="taskId!=null">
            and task_id=#{taskId}
        </if>
        <if test="startTime!=null">
            and update_time &gt; #{startTime}
        </if>
        <if test="endTime!=null">
            and update_time &lt; #{endTime}
        </if>
        <if test="userId!=null">
            and create_user=#{userId}
        </if>

    </select>

</mapper>
