<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.task.mapper.LabelTaskMapper">

    <resultMap id="personProcessInstance" type="org.springblade.task.vo.ExpertLabelTaskVO">
        <result column="id" property="id"/>
        <result column="person_id" property="personId"/>
        <result column="expert_id" property="expertId"/>
        <result column="process_instance_id" property="processInstanceId"/>
        <result column="person_name" property="personName"/>
        <result column="template_id" property="templateId"/>
    </resultMap>

    <resultMap id="roleClaimCountResultMap" type="org.springblade.task.vo.RoleClaimCountVO">
        <result column="id" property="roleId"/>
        <result column="GROUP_ID_" property="roleAlias"/>
        <result column="role_name" property="roleName"/>
        <result column="COUNT(GROUP_ID_)" property="count"/>
    </resultMap>

    <resultMap id="compositionClaimCountResultMap" type="org.springblade.task.vo.CompositionClaimCountVO">
        <result column="id" property="compositionId"/>
        <result column="name" property="name"/>
        <result column="COUNT(c.id)" property="count"/>
    </resultMap>

    <resultMap id="labelTask" type="org.springblade.task.entity.LabelTask">
        <result column="id" property="id"/>
        <result column="process_definition_id" property="processDefinitionId"/>
        <result column="process_instance_id" property="processInstanceId"/>
        <result column="task_id" property="taskId"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="EndTime"/>
        <result column="reason" property="reason"/>
        <result column="task_user" property="taskUser"/>
        <result column="apply_time" property="applyTime"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="composition_id" property="compositionId"/>
        <result column="template_id" property="templateId"/>
        <result column="duration" property="duration"/>
        <result column="priority" property="priority"/>
        <result column="person_id" property="personId"/>
        <result column="person_name" property="personName"/>
    </resultMap>

    <resultMap id="compositionResultMap" type="org.springblade.composition.entity.Composition">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="composition_id" property="compositionId"/>
        <result column="template_id" property="templateId"/>
        <result column="duration" property="duration"/>
        <result column="priority" property="priority"/>
        <result column="person_id" property="personId"/>
        <result column="person_name" property="personName"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="description" property="description"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="name" property="name"/>
        <result column="field" property="field"/>
        <result column="annotation_type" property="annotationType"/>
    </resultMap>

    <select id="completeCount" resultType="int">
        SELECT COUNT(*) FROM
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            bladex_dev.mk_task_label t
            left join bladex_flow_dev.ACT_HI_PROCINST flow
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            bladex.mk_task_label t
            left join bladex_flow.ACT_HI_PROCINST flow
        </if>
        ON t.process_instance_id = flow.PROC_INST_ID_
        WHERE t.task_id = #{param2} AND !isnull(flow.END_TIME_)

    </select>

    <select id="queryCompleteTask" resultMap="labelTask">
        SELECT * FROM
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            bladex_dev.mk_task_label t
            left join bladex_flow_dev.ACT_HI_PROCINST flow
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            bladex.mk_task_label t
            left join bladex_flow.ACT_HI_PROCINST flow
        </if>
        ON t.process_instance_id = flow.PROC_INST_ID_
        WHERE t.task_id = #{param2} AND !isnull(flow.END_TIME_)

    </select>

    <select id="personIdToProcessInstance" resultMap="personProcessInstance">
        select l.id,l.person_id,l.person_name,l.template_id,e.expert_id,l.process_instance_id from mk_adata_expert e
        INNER JOIN mk_task_label l
        on e.id=l.person_id
        WHERE e.expert_id = #{expertId}
    </select>

    <select id="annotationDoneCount" resultType="long">
        SELECT COUNT(*) FROM
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            bladex_dev.mk_task_label t
            left join bladex_flow_dev.ACT_HI_TASKINST flow
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            bladex.mk_task_label t
            left join bladex_flow.ACT_HI_TASKINST flow
        </if>
        ON t.process_instance_id = flow.PROC_INST_ID_
        WHERE flow.ASSIGNEE_=#{param2} AND !isnull(flow.END_TIME_)

    </select>

    <select id="annotationTodoCount" resultType="long">
        SELECT COUNT(*) FROM
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            bladex_dev.mk_task_label t
            left join bladex_flow_dev.ACT_HI_TASKINST flow
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            bladex.mk_task_label t
            left join bladex_flow.ACT_HI_TASKINST flow
        </if>
        ON t.process_instance_id = flow.PROC_INST_ID_
        WHERE flow.ASSIGNEE_=#{param2} AND isnull(flow.END_TIME_)

    </select>

    <select id="annotationClaimCount" resultType="int">
        SELECT COUNT(*) FROM
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            bladex_dev.mk_task_label t
            inner join bladex_flow_dev.ACT_HI_TASKINST flow
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            bladex.mk_task_label t
            inner join bladex_flow.ACT_HI_TASKINST flow
        </if>
        ON t.process_instance_id = flow.PROC_INST_ID_
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            inner join bladex_flow_dev.ACT_HI_IDENTITYLINK id
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            inner join bladex_flow.ACT_HI_IDENTITYLINK id
        </if>
        ON id.TASK_ID_=flow.ID_
        WHERE ISNULL(flow.ASSIGNEE_) AND id.GROUP_ID_ in
        <foreach item="item" index="index" collection="param2" open="(" separator="," close=")">
            #{item}
        </foreach>

    </select>

    <select id="annotationClaimCount2" resultType="int">
        SELECT COUNT(*) FROM
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            bladex_dev.mk_task_label tl
            inner join bladex_flow_dev.ACT_HI_TASKINST flow
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            bladex.mk_task_label tl
            inner join bladex_flow.ACT_HI_TASKINST flow
        </if>
        ON tl.process_instance_id = flow.PROC_INST_ID_
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            inner join bladex_flow_dev.ACT_HI_IDENTITYLINK id
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            inner join bladex_flow.ACT_HI_IDENTITYLINK id
        </if>
        ON id.TASK_ID_=flow.ID_
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            inner join bladex_dev.mk_template_composition tc
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            inner join bladex.mk_template_composition tc
        </if>
        ON tl.template_id=tc.template_id
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            inner join bladex_dev.mk_composition c
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            inner join bladex.mk_composition c
        </if>
        ON tc.composition_id=c.id
        WHERE ISNULL(flow.ASSIGNEE_) AND tc.is_deleted=0 AND id.GROUP_ID_ in
        <foreach item="item" index="index" collection="param2" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND c.name=flow.NAME_
        AND flow.PROC_INST_ID_ NOT IN (
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            SELECT PROC_INST_ID_ FROM bladex_flow_dev.ACT_RU_VARIABLE
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            SELECT PROC_INST_ID_ FROM bladex_flow.ACT_RU_VARIABLE
        </if>
        WHERE NAME_ IN
        <foreach item="item" index="index" collection="param2" open="(" separator="," close=")">
            concat(#{item},'-',#{param3})
        </foreach>
        )

    </select>

    <select id="roleClaimCount" resultMap="roleClaimCountResultMap">
        SELECT role.id,t.*,role.role_name FROM (
        SELECT GROUP_ID_,COUNT(GROUP_ID_) FROM
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            bladex_dev.mk_task_label t
            inner join bladex_flow_dev.ACT_HI_TASKINST flow
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            bladex.mk_task_label t
            inner join bladex_flow.ACT_HI_TASKINST flow
        </if>
        ON t.process_instance_id = flow.PROC_INST_ID_
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            inner join bladex_flow_dev.ACT_HI_IDENTITYLINK id
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            inner join bladex_flow.ACT_HI_IDENTITYLINK id
        </if>
        ON id.TASK_ID_=flow.ID_
        WHERE ISNULL(flow.ASSIGNEE_) AND id.GROUP_ID_ in
        <foreach item="item" index="index" collection="param2" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND flow.PROC_INST_ID_ NOT IN (
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            SELECT PROC_INST_ID_ FROM bladex_flow_dev.ACT_RU_VARIABLE
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            SELECT PROC_INST_ID_ FROM bladex_flow.ACT_RU_VARIABLE
        </if>
        WHERE NAME_ IN
        <foreach item="item" index="index" collection="param2" open="(" separator="," close=")">
            concat(#{item},'-',#{param3})
        </foreach>
        )
        GROUP BY GROUP_ID_ ) t
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            inner join bladex_dev.blade_role role
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            inner join bladex.blade_role role
        </if>
        ON t.GROUP_ID_=role.role_alias

    </select>

    <select id="compositionClaimCount" resultMap="compositionClaimCountResultMap">
        SELECT c.id,c.name,COUNT(c.id) FROM
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            bladex_dev.mk_task_label tl
            inner join bladex_flow_dev.ACT_HI_TASKINST flow
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            bladex.mk_task_label tl
            inner join bladex_flow.ACT_HI_TASKINST flow
        </if>
        ON tl.process_instance_id = flow.PROC_INST_ID_
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            inner join bladex_flow_dev.ACT_HI_IDENTITYLINK id
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            inner join bladex_flow.ACT_HI_IDENTITYLINK id
        </if>
        ON id.TASK_ID_=flow.ID_
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            inner join bladex_dev.mk_template_composition tc
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            inner join bladex.mk_template_composition tc
        </if>
        ON tl.template_id=tc.template_id
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            inner join bladex_dev.mk_composition c
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            inner join bladex.mk_composition c
        </if>
        ON tc.composition_id=c.id
        WHERE ISNULL(flow.ASSIGNEE_) AND tc.is_deleted=0 AND id.GROUP_ID_ in
        <foreach item="item" index="index" collection="param2" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND c.name=flow.NAME_
        AND flow.PROC_INST_ID_ NOT IN (
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            SELECT PROC_INST_ID_ FROM bladex_flow_dev.ACT_RU_VARIABLE
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            SELECT PROC_INST_ID_ FROM bladex_flow.ACT_RU_VARIABLE
        </if>
        WHERE NAME_ IN
        <foreach item="item" index="index" collection="param2" open="(" separator="," close=")">
            concat(#{item},'-',#{param3})
        </foreach>
        )
        GROUP BY c.id
    </select>

    <select id="allCompositions" resultMap="compositionResultMap">
        select c.* from mk_composition c
        inner join mk_template_composition tc
        on c.id=tc.composition_id where tc.template_id=#{param1} and tc.is_deleted=0
    </select>
</mapper>
