<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.or
g/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.task.mapper.TaskMapper">
    <resultMap id="taskMap" type="org.springblade.task.entity.Task">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="eb_id" property="ebId"/>
        <result column="task_name" property="taskName"/>
        <result column="task_type" property="taskType"/>
        <result column="inspection_type" property="inspectionType"/>
        <result column="count" property="count"/>
        <result column="template_id" property="templateId"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="priority" property="priority"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="start_time" property="startTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="status" property="status"/>
        <result column="annotation_task_id" property="annotationTaskId"/>
        <result column="real_set_rate" property="realSetRate"/>
    </resultMap>

    <resultMap id="taskMapVOResultMap" type="org.springblade.task.vo.TaskVO">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="eb_id" property="ebId"/>
        <result column="task_name" property="taskName"/>
        <result column="task_type" property="taskType"/>
        <result column="inspection_type" property="inspectionType"/>
        <result column="count" property="count"/>
        <result column="template_id" property="templateId"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="priority" property="priority"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="start_time" property="startTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="status" property="status"/>
        <result column="annotation_task_id" property="annotationTaskId"/>
        <result column="completed" property="completed"/>
        <result column="total" property="total"/>
    </resultMap>

    <select id="labelTaskCompleteCount" resultType="int">
        SELECT COUNT(*) FROM
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            bladex_dev.mk_task_label t
            left join bladex_flow_dev.ACT_HI_PROCINST flow
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            bladex.mk_task_label t
            left join bladex_flow.ACT_HI_PROCINST flow
        </if>
            ON t.process_instance_id = flow.PROC_INST_ID_
            WHERE t.task_id = #{param2} AND t.type = 1 AND !isnull(flow.END_TIME_)
    </select>

    <select id="qualityInspectionTaskCompleteCount" resultType="int">
        SELECT COUNT(*) FROM
        <if test="param1!= null and param1!= '' and param1 == 'dev'">
            bladex_dev.mk_task_quality_inspection t
            left join bladex_flow_dev.ACT_HI_PROCINST flow
        </if>
        <if test="param1!= null and param1!= '' and param1 == 'prod'">
            bladex.mk_task_quality_inspection t
            left join bladex_flow.ACT_HI_PROCINST flow
        </if>
            ON t.process_instance_id = flow.PROC_INST_ID_
            WHERE t.inspection_task_id = #{param2} AND !isnull(flow.END_TIME_)

    </select>

    <select id="compositionCompleteCount" resultType="int">
        select count(*) as number from blade_user u
        left join mk_statistics s on u.id=s.update_user
        left join mk_composition c on s.composition_id=c.id
        left join mk_task_label l on l.id=s.sub_task_id
        where s.status = 2
        <if test="taskId!=null">
            and l.task_id=#{taskId}
        </if>

        and s.is_deleted=0
        group by s.update_user,s.composition_id
    </select>

    <select id="compositionCount" resultType="int">
        select count(*) from
        <if test="env == 'dev'">
            bladex_flow_dev.ACT_HI_TASKINST t
        </if>
        <if test="env == 'prod'">
            bladex_flow.ACT_HI_TASKINST t
        </if>
        left join
        <if test="env == 'dev'">
            bladex_dev.mk_task_label l
        </if>
        <if test="env == 'prod'">
            bladex.mk_task_label l
        </if>
        on t.PROC_INST_ID_=l.process_instance_id
        <if test="taskId!=null">
            where l.task_id=#{taskId}
        </if>

    </select>


</mapper>
