<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.flow.engine.mapper.FlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="flowModelResultMap" type="org.springblade.flow.engine.entity.FlowModel">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="model_key" property="modelKey"/>
        <result column="description" property="description"/>
        <result column="model_comment" property="modelComment"/>
        <result column="created" property="created"/>
        <result column="created_by" property="createdBy"/>
        <result column="last_updated" property="lastUpdated"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
        <result column="version" property="version"/>
        <result column="model_editor_json" property="modelEditorJson"/>
        <result column="thumbnail" property="thumbnail"/>
        <result column="model_type" property="modelType"/>
        <result column="tenant_id" property="tenantId"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="roleResultMap" type="org.springblade.system.entity.Role">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="role_name" property="roleName"/>
        <result column="sort" property="sort"/>
        <result column="role_alias" property="roleAlias"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <update id="updateStatistic">
        <if test="env == 'dev'">
            update bladex_dev.mk_statistics s
            left join bladex_dev.mk_composition c on s.composition_id=c.id
        </if>
        <if test="env == 'prod'">
            update bladex.mk_statistics s
            left join bladex.mk_composition c on s.composition_id=c.id
        </if>
        set s.status=3
        where c.annotation_type=#{type}
        and s.sub_task_id=#{labelTaskId}
        and s.status=1;
    </update>

    <select id="selectFlowPage" resultMap="flowModelResultMap">
        SELECT
            a.id,
            a.name,
            a.model_key,
            a.description,
            a.model_comment,
            a.created,
            a.created_by,
            a.last_updated,
            a.last_updated_by,
            a.version,
            a.model_editor_json,
            a.thumbnail,
            a.model_type,
            a.tenant_id
        FROM
            ACT_DE_MODEL a
        WHERE
            1 = 1
        ORDER BY
            a.created DESC
    </select>

    <select id="findByParentModelId" parameterType="string" resultMap="flowModelResultMap">
        select model.* from ACT_DE_MODEL_RELATION modelrelation
                                inner join ACT_DE_MODEL model on modelrelation.model_id = model.id
        where modelrelation.parent_model_id = #{_parameter}
    </select>

    <select id="getRoleByTemplateComposition" resultMap="roleResultMap">
        <if test="param1 == 'dev'">
            select r.* from bladex_dev.blade_role r
            inner join bladex_dev.mk_template_composition tc
        </if>
        <if test="param1 == 'prod'">
            select r.* from bladex.blade_role r
            inner join bladex.mk_template_composition tc
        </if>
        on r.role_alias=tc.label_role_name
        where tc.template_id=#{param2} and tc.composition_id=#{param3} and tc.is_deleted=0 limit 1
    </select>

    <select id="getLabelRoleAliasByCompositionId" resultType="java.lang.String">
        <if test="param1 == 'dev'">
            select distinct label_role_name from bladex_dev.mk_template_composition
        </if>
        <if test="param1 == 'prod'">
            select distinct label_role_name from bladex.mk_template_composition
        </if>
        where composition_id=#{param2} and is_deleted=0
    </select>

    <select id="getInspectionRoleAliasByCompositionId" resultType="java.lang.String">
        <if test="param1 == 'dev'">
            select distinct inspection_role_name from bladex_dev.mk_template_composition
        </if>
        <if test="param1 == 'prod'">
            select distinct inspection_role_name from bladex.mk_template_composition
        </if>
        where composition_id=#{param2} and is_deleted=0
    </select>

    <select id="getLabelRoleAliasByProcessInstanceId" resultType="java.lang.String">
        <if test="param1 == 'dev'">
            select distinct label_role_name from bladex_dev.mk_template_composition tc inner join bladex_dev.mk_task_label tl
        </if>
        <if test="param1 == 'prod'">
            select distinct label_role_name from bladex.mk_template_composition tc inner join bladex.mk_task_label tl
        </if>
        on tc.template_id=tl.template_id
        where tl.process_instance_id=#{param2} and tc.is_deleted=0
    </select>

    <select id="getInspectionRoleAliasByProcessInstanceId" resultType="java.lang.String">
        <if test="param1 == 'dev'">
            select distinct inspection_role_name from bladex_dev.mk_template_composition tc inner join bladex_dev.mk_task_label tl
        </if>
        <if test="param1 == 'prod'">
            select distinct inspection_role_name from bladex.mk_template_composition tc inner join bladex.mk_task_label tl
        </if>
        on tc.template_id=tl.template_id
        where tl.process_instance_id=#{param2} and tc.is_deleted=0
    </select>

    <select id="getRoleAliasCountByProcessInstanceId" resultType="int">
        select count(*) from (
        <if test="param1 == 'dev'">
            select distinct label_role_name from bladex_dev.mk_template_composition tc inner join bladex_dev.mk_task_label tl
        </if>
        <if test="param1 == 'prod'">
            select distinct label_role_name from bladex.mk_template_composition tc inner join bladex.mk_task_label tl
        </if>
        on tc.template_id=tl.template_id
        where tl.process_instance_id=#{param2} and tc.is_deleted=0 AND label_role_name in
        <foreach item="item" index="index" collection="param3" open="(" separator="," close=")">
            #{item}
        </foreach>
        union
        <if test="param1 == 'dev'">
            select distinct inspection_role_name from bladex_dev.mk_template_composition tc inner join bladex_dev.mk_task_label tl
        </if>
        <if test="param1 == 'prod'">
            select distinct inspection_role_name from bladex.mk_template_composition tc inner join bladex.mk_task_label tl
        </if>
        on tc.template_id=tl.template_id
        where tl.process_instance_id=#{param2} and tc.is_deleted=0 AND inspection_role_name in
        <foreach item="item" index="index" collection="param3" open="(" separator="," close=")">
            #{item}
        </foreach>
        ) u
    </select>
</mapper>
